# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
/build

# misc
*.pem

# tmp files that show up when a file is open in vi
*.sw[op]

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

**/.lighthouseci
**/lighthouse
node_modules
